@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Giới thiệu";
    
  
}

<div class="container">
    <div class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Giới Thiệu </li>
    </div>

    <h2>GIỚI THIỆU</h2>
    <p>
      <p> 1. Sự ra đời của y tế tư nhân </p>

        Sau hơn 20 năm thực hiện nghị quyết số 90/CP của Chính phủ ban hành ngày 21/08/1997 về phương hướng và chủ trương xã hội hóa các hoạt động giáo dục, y tế văn hóa đã có lượng vốn hàng nghìn tỷ đồng được đầu tư vào hệ thống y tế tư nói chung và bệnh viện tư nhân nói riêng. Hiện các bệnh viện tư nhân vẫn không ngừng phát triển và lớn mạnh về mọi mặt, góp phần đa dạng hóa các dịch vụ khám, chữa bệnh, nâng cao sức khỏe cho người dân. Các bệnh viện được tập trung đầu tư cả về nhân lực và vật lực, được trang bị thiết bị y tế hiện đại, góp phần giảm tải tình trạng quá tải ở các bệnh viện công.
        Sự ra đời của khối bệnh viện tư nhân nằm trong chủ trương xã hội hóa y tế của Chính phủ. Nghị quyết 20-NQ/TW về tăng cường công tác bảo vệ, chăm sóc và nâng cao sức khỏe nhân dân trong tình hình mới đã khuyến khích hợp tác công-tư, đầu tư tư nhân trong lĩnh vực y tế. Đầu tư tư nhân được khuyến khích trong tất cả các lĩnh vực hoạt động của ngành y tế, từ sản xuất, cung ứng thuốc, trang thiết bị đến đào tạo, tư vấn sức khỏe, khám chữa bệnh… Trong số đó lĩnh vực y tế được tư nhân đầu tư nhiều vẫn là đầu tư phát triển cơ sở khám, chữa bệnh.
        Báo cáo tại Hội nghị tổng kết 9 năm thi hành Luật KCB cho biết các cơ sở y tế tư nhân có bước phát triển lớn, đóng vai trò quan trọng trong cung ứng dịch vụ y tế cho người dân. Số bệnh viện và số giường bệnh ngoài công lập tăng nhanh: Năm 2005 có 43 bệnh viện trên địa bàn của 9 tỉnh, thành phố với 3.324 giường bệnh, nay đã tăng lên hơn 300 bệnh viện với gần 20.000 giường bệnh (đạt 1,7 giường/vạn dân, chiếm 15% số bệnh viện và 5,16% số giường bệnh trong toàn quốc), có khoảng gần 50.000 nhà thuốc, gần 40.000 phòng khám đa khoa, chuyên khoa, cung cấp 43% dịch vụ ngoại trú và 2,1% tổng số dịch vụ nội trú cho người dân. Một số bệnh viện 100% vốn nước ngoài có trang thiết bị hiện đại đã được đưa vào hoạt động hiệu quả, đáp ứng yêu cầu đa dạng hóa nhu cầu khám, chữa bệnh cho người dân.
        Y tế tư nhân phát triển nhanh cả về quy mô và số lượng qua các năm. Năm 2018, 2019 tiếp tục thu hút sự tham gia của khu vực y tế tư nhân, bên cạnh các bệnh viện lớn như Bệnh viện Đa khoa Hợp Lực – Thanh Hóa, Bệnh viện Đa khoa Quốc tế Hải Phòng, Bệnh viện Đa khoa Hùng Vương – Phú Thọ,… phát triển mạnh về quy mô và chất lượng, một số bệnh viện tư nhân có quy mô được thành lập mới. Điển hình là các bệnh viện như: Bệnh viện Nhi Đức Tâm, Đăk Lăk (50 giường bệnh), Bệnh viện Mắt Cao Nguyên tại Gia Lai (100 giường bệnh), Bệnh viện đa khoa quốc tế Vinmec Hải Phòng (180 giường bệnh), Bệnh viện Phương Châu Sa Đéc (50 giường bệnh), Bệnh viện Đa khoa Medlatec với một loạt cơ sở mới tại Hà Nội… Bệnh viện tư nhân đã đạt được nhiều thành công nhất định trong hoạt động khám, chữa bệnh ngày càng khẳng định vai trò trong hệ thống y tế Việt Nam
    
    </p>

</div>

<style>
    .breadcrumb {
        background-color: #f0e7c7;
        padding: 10px;
        font-size: 14px;
    }
    .current {
        font-weight: bold;
    }
</style>

